.textforma input, select{
    padding:10px;
    margin-bottom: 10px;
}
.textforma{
    color:initial;
}
.capitol-form{
    color:gray;
    border-bottom-style: solid;
    text-align: left;
    border-width: 2px;
}
.form-group{
    padding-top:10px;
}